/* Estilo geral do card */
ion-card {
  margin: 0; /* Remove margens */
  padding: 20px; /* Adiciona um pouco de preenchimento interno */
  background-color: #04249c; /* Azul escuro */
  border-radius: 0; /* Remove os cantos arredondados */
  width: 100%; /* Garante que o card preencha a tela horizontalmente */
}

/* Centraliza todo o conteúdo do card */
ion-card-header, ion-card-content {
  text-align: center; /* Centraliza o texto */
}

ion-card-content{
  background-color: #fff;
  border-radius: 8px;
  border: 3px outset #111;
}
  
/* Título principal (bem-vindo) */
h1, h2{
  color: white; /* Texto branco */
}
  
/* Título principal (bem-vindo) */
h1 {
  font-size: 36px; /* Tamanho da fonte */
  margin: 10px 0; /* Margem acima e abaixo do título */
  font-weight: bold; /* Deixa o texto em negrito */
}
  
  /* Subtítulo */
h2 {
  font-size: 18px; /* Tamanho do subtítulo */
}

.profile-image {
  width: 150px;  /* Tamanho da imagem ajustado para 150px */
  height: 150px;  /* Tamanho da imagem ajustado para 150px */
  border-radius: 50%;  /* Faz a imagem ficar redonda */
  object-fit: cover;  /* Garante que a imagem preencha o contêiner sem distorção */
  margin-bottom: 20px;

  /* Borda branca estilizada */
  border: 5px solid white;  /* Borda branca de 5px */
  
  /* Sombra sutil ao redor da borda para um efeito 3D */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Sombra suave */
  
  /* Efeito de transição suave para quando a imagem for carregada ou alterada */
  transition: all 0.3s ease-in-out;

  /* Efeito de foco ou hover para dar uma interação visual */
  &:hover {
    transform: scale(1.05);  /* Aumenta levemente a imagem quando o mouse passa por cima */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);  /* Aumenta a sombra ao passar o mouse */
  }
}

.edit-icon {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: -16vw;
  margin-right: -28vw;
}

input[type="file"] {
  display: none; /* Torna o input invisível */
}

/* Estilos para o card de perfil */
.dadosUsuario {
  margin: 20px;
  border-radius: 15px;
  background-color: #f4f5f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dadosUsuario ion-card-header {
  background-color: #3880ff;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}

.dadosUsuario ion-card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.dadosUsuario ion-card-content {
  padding: 15px;
  font-size: 16px;
}

.dadosUsuario p {
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;
}

/* Estilos para o botão de sair */
.sairButton {
  margin-top: 20px;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px;
}
