<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToTab1()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="ion-text-center">
        <!-- Imagem de Perfil -->
        <img id="profileImage" src="assets/img/avatar.png" alt="Foto de Perfil" class="profile-image">
      </div>

      <label for="fileInput" class="edit-icon" >
        <ion-icon name="create"></ion-icon>
      </label>

      <input type="file" id="fileInput" accept="image/*" (change)="onFileChange($event)" />

      <h1>Bem-vindo {{ usuarioLogado.name }}</h1>
    </ion-card-header>
    <div>
      <h2>Veja aqui o que você pode fazer com a sua conta</h2>
    </div>
  </ion-card>

  <ion-card-content>
    <div *ngIf="usuarioLogado">
      <p><strong>Nome:</strong> {{ usuarioLogado.name }}</p><br/>
      <p><strong>Email:</strong> {{ usuarioLogado.email }}</p><br/>
      <p><strong>CPF:</strong> {{ usuarioLogado.cpf }}</p><br/>
    </div>
  </ion-card-content>

  <!-- Botão de Sair -->
  <ion-button (click)="logout()" expand="block" color="danger" class="sairButton">
    Sair
  </ion-button>
</ion-content>