<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Atividades</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openProfile()">
        <ion-icon name="person-circle-outline" style="font-size: 48px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Container com fundo transparente e blur -->
  <div class="blur-container">
    <!-- Seletor de modo (Pomodoro, Pausa Curta, Pausa Longa) -->
    <ion-segment (ionChange)="changeMode($event)" value="pomodoro">
      <ion-segment-button value="pomodoro">
        <ion-label>Pomodoro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="shortBreak">
        <ion-label>Pausa <br/>Curta</ion-label>
      </ion-segment-button>
      <ion-segment-button value="longBreak">
        <ion-label>Pausa <br/>Longa</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Timer Display -->
    <div class="timer-display">
      <h1>{{ displayMinutes }}:{{ displaySeconds }}</h1>
    </div>

    <!-- Botões de Controle do Timer -->
    <div class="button-group">
      <ion-button (click)="toggleTimer()" expand="block">
        {{ isRunning ? 'Pausar' : 'Iniciar' }}
      </ion-button>

      <ion-button *ngIf="isRunning && hasStarted" (click)="skipTimer()" expand="block" color="secondary">
        Pular
      </ion-button>
    </div>

    <!-- Criacao de Tarefas -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Criar Tarefa</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input [(ngModel)]="taskTitle" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Ciclos</ion-label>
          <ion-input [(ngModel)]="taskCycles" type="number" placeholder="Número de ciclos" min="1"></ion-input>
        </ion-item>
  
        <ion-button expand="full" (click)="createTask()">Criar Tarefa</ion-button>
      </ion-card-content>
    </ion-card>
  
    <ion-list class="custom-list">
      <ion-item *ngFor="let task of tasks" class="custom-item">
        <ion-label class="custom-label">
          <h2>{{ task.title }}</h2>
          <p>Ciclos: {{ task.cycles }}</p>
          <p>Status: {{ task.status }}</p>
        </ion-label>
        <ion-button color="primary" (click)="toggleTaskStatus(task)">
          {{ task.isSelected ? 'Pausar' : 'Play' }}
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Tarefas Concluidas -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tarefas Concluídas</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let task of completedTasks">
            <ion-label>
              <h2>{{ task.title }} - Concluída</h2>
              <p>Ciclos: {{ task.cycles }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>