.timer-display {
  text-align: center;
  margin-top: 20px;
}

.button-group {
  margin-top: 20px;
}

ion-card {
  margin: 10px 0;
}

ion-card-title {
  font-weight: bold;
}

ion-card-content {
  font-size: 14px;
}

ion-button[expand='full'] {
  margin-top: 20px;
}

h1{
  font-size: 80px;
}
ion-content {
  --background: transparent; /* Torna o fundo do ion-content transparente */
  color: white; /* Define a cor do texto como branco */
}

.blur-container {
  background: rgba(25, 0, 255, 0.2); /* Fundo semi-transparente */
  border-radius: 20px; /* Bordas arredondadas */
  backdrop-filter: blur(10px); /* Aplica o efeito de desfoque */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave ao redor do contêiner */
}

h1, ion-label {
  color: white; /* Define a cor das letras como branca */
}

ion-list {
  margin-top: 10px; /* Espaçamento superior */
  background: transparent;
  padding: 0;
}

ion-item {
  border-radius: 4px; /* Bordas arredondadas para itens */
  margin: 10px; /* Espaçamento entre itens */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.1s; /* Animação ao passar o mouse */
}

h2 {
  font-size: 1.5em; /* Tamanho da fonte do título */
  margin: 0; /* Remove margem padrão */
}

/* Aplica o estilo ao ion-list */
.custom-list {
  background: transparent; /* Fundo transparente */
  background: rgba(0, 0, 0, 0.3); /* Fundo transparente com uma leve sombra */
  backdrop-filter: blur(8px); /* Aplica o efeito de blur no fundo */
  padding: 0; /* Remove o padding padrão da lista */
  border-radius: 8px; /* Bordas arredondadas para dar um visual suave */
}

/* Estiliza cada item da lista */
.custom-item {
  background: transparent; /* Fundo transparente */
  border: 2px dotted white; /* Bordas pontilhadas brancas */
  margin-bottom: 8px; /* Espaçamento entre os itens */
  padding: 10px; /* Padding para o conteúdo dentro do item */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar o item */
  backdrop-filter: blur(6px); /* Aplica o blur no fundo do item */
}

/* Estiliza os títulos (h2) para ficarem mais visíveis */
.custom-item h2 {
  font-size: 18px;
  font-weight: bold;
}

/* Estiliza os parágrafos (p) para ficarem mais legíveis */
.custom-item p {
  font-size: 14px;
}